@using WebsiteBanQuanAo.Models;
@model List<tbSanPham>

@foreach (var item in Model)
{
        <div class="recent-grids">
            <a href="@Url.Action("XemChiTietSanPham","XemChiTiet", new {masanpham = item.MaSanPham })">
                <div class="recent-left">
                    <img class="img-responsive " src="~/Content/Layout/images/@item.AnhMatTruoc" alt="" style="width:100%; height:75px">
                </div>
                <div class="recent-right">
                    <h6 class="best2"><a href="single.html">@item.TenSanPham  </a></h6>
                    <div class="block">
                        <div class="starbox small ghosting"> </div>
                    </div>
                    <span class=" price-in1">@item.GiaSanPham</span>
                </div>
            </a>
            <div class="clearfix"> </div>
        </div>
    
}
