@model WebsiteBanQuanAo.Models.tbNguoiDung
@using WebsiteBanQuanAo.Models;
@{
    tbNguoiDung nd = (tbNguoiDung)Session["NguoiDung"];
    ViewBag.Title = "DoiMatKhauKhachHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (nd != null && nd.MaNguoiDung == Model.MaNguoiDung)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaNguoiDung)
    <div class="form-group">
        @Html.Raw(ViewBag.ThongBao)
        <div class="content">
            <!--login-->
            <div class="login">
                <div class="main-agileits">
                    <div class="form-w3agile">
                        <h3>Đổi mật khẩu.</h3>
                        <div class="key">
                            <i class="fa fa-lock" aria-hidden="true"> Mật khẩu cũ</i>
                            <input type="password" value="Password" name="cu" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                            <div class="clearfix"></div>
                        </div>
                        <div class="key">
                            <i class="fa fa-lock" aria-hidden="true">Mật khẩu mới</i>
                            <input type="password" value="Password" name="MatKhauNguoiDung" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                            <div class="clearfix"></div>
                        </div>
                        <div class="key">
                            <i class="fa fa-lock" aria-hidden="true">Nhập lại mật khẩu mới</i>
                            <input type="password" value="Password" name="NhapLai" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Oke" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            </div>
            <!--login-->
        </div>
    </div>
    </div>
    }
}
else
{
    Response.Redirect("/TrangCaNhan/TrangCaNhan");
}
